#root {
  background-color: #dc8c01;
}

header {
  margin-bottom: 50px;
  background-color: #dc8c01;
  width: 100%;
  padding: 0;
  display: inline-block;
}

.neighborhoodFilter {
  text-align: center;
  margin-bottom: 10px;
}

.dayFilter {
  text-align: center;
  margin-bottom: 10px;
}

.filters {
  text-align: center;
}

.tc {
  text-align: center;
  vertical-align: top;
  background-color: #dc8c01;
}

.Card {
  margin-bottom: 25px;
}

.filters button {
  background-color: transparent;
  border: 1px solid #2e1300;
  color: #2e1300;
  padding: 8px 16px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin-bottom: 20px;
}

.filters button:hover {
  background-color: #2e1300;
  color: #dc8c01;
  border: 1px solid #dc8c01;
}

.filters button:focus {
  outline: none;
}

/* media queries  */


