.Card {
  display: inline-block;
  min-height: 500px;
  width: 300px;
  margin: 25px;
  box-shadow: 2px 4px 8px rgba(0, 0, 0, 0.7);
  transition: all 0.1s ease-in-out;
  background-color: white;
  vertical-align: top;
  border-radius: 15px;
}

.Card:hover {
  transform: scale(1.05);
}

.responsiveImg {
  width: 100%;
}

.barName {
  text-align: center;
  font-family: "Cairo", sans-serif;
  font-weight: bold;
  font-size: 2rem;
  color: #000000;
  padding: 0px 10px;
}

hr.style-two {
  border: 0;
  height: 1px;
  width: 80%;
  background-image: linear-gradient(
    to right,
    rgba(255, 255, 255, 0),
    rgba(255, 255, 255, 0.75),
    rgba(255, 255, 255, 0)
  );
}

.neighborhood {
  font-family: "Cairo", sans-serif;
  font-size: 1.2rem;
  padding-left: 15px;
  font-weight: bold;
  color: #000000;
}

.dayOfTheWeekCard {
  font-family: "Cairo", sans-serif;
  color: #000000;
  text-decoration: none;
  font-size: 1rem;
  padding-left: 15px;
}

.special {
  font-family: "Cairo", sans-serif;
  padding: 10px 15px;
  color: #000000;
}

.expand {
  font-family: "Cairo", sans-serif;
}

.Modal {
  position: absolute;
  top: 50%;
  left: 50%;
  right: auto;
  bottom: auto;
  margin-right: -50%;
  transform: translate(-50%, -50%);
  background-color: #efefef;
  min-height: 300px;
  height: max-content;
  width: 600px;
}

.Modal:focus {
  outline: 0;
}

.Overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.8);
}

.Modal {
  border-radius: 15px;
}

.Modal h1 {
  font-family: 'Cairo', sans-serif;
}

.Modal * {
  padding: 0px 10px;
}
/* 
.Modal #mapID {
  height: 100px;
  width: 100%;
  text-align: center;
} */

.Modal button {
  background-color: transparent;
  border: none;
  color: #000000;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 14px;
}

.Modal #buttonHolder {
  text-align: center;
}

.Modal h1 {
  color: #000000;
}

/* media queries */
@media only screen and (max-width: 700px) {
  .Card {
    width: 80%;
  }

  .responsiveImg{
      width: 100%;
  }

  /* modal stuff */
  .Modal {
    height: max-content;
    width: 90%;
    padding: 10px 0;
  }
}
