.contact-form{
  text-align: center;
  margin: 5% auto;
  width: 50vw;
  border: 1px solid black;
}

.contact-form * {
  margin: 10px;
}

.contact-form input {
  width: 80%;
}

.contact-form textarea {
  width: 80%;
}

:invalid {
  box-shadow: none;
}

:-moz-submit-invalid {
  box-shadow: none;
}

:-moz-ui-invalid {
  box-shadow:none;
}

.contact-form button {
  border: 1px solid black;
  background: transparent;
  color: black;
  font-family: monospace;
  font-size: 1.2rem;
  cursor: pointer;
  padding: 10px;
  margin: 10px;
}

.contact-form button:hover {
  background: black;
  color: white;
}

/* media query */
@media screen and (max-width: 700px) {
  .contact-form {
    width: 90vw;
  }
  .contact-form form input {
    width: 90%;
    font-size: 0.8rem;
  }
  .contact-form form textarea {
    height: 100px;
    width: 90%;
    font-size: 1rem;
  }
}