.header {
    text-align: center;
}

.title {
    margin: 0;
    color: #2e1300;
    font-size: 4rem;
    font-family: 'Righteous', cursive;
    font-weight: bold;
    letter-spacing: 3px;
}

.slogan {
    font-family: 'Cairo', sans-serif;
    color: #2e1300;
    font-size: 1.75rem;
}

.dayOfTheWeek {
    font-size: 2.25rem;
    text-decoration: underline;
}

.dayOfTheWeek {
    color: black;
}