.main {
  background-image: url('../assets/adam-wilson-6UIonphZA5o-unsplash.jpg');
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 100vh;
}

.main {
  margin: 0;
  text-align: center;
}

.title-baby {
  margin: 0;
  color: chartreuse;
  font-size: 8em;
}

.slogan {
  margin: 0;
  font-size: 3em;
}

/* media query */
@media only screen and (max-width: 700px) {
  .main{
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 100vh !important;
  }

  .title-baby {
    font-size: 4em;
  }
}