select {
  height: 35px;
  width: 300px;
  text-align: center;
  font-size: 1.2rem;
  font-weight: bold;
  font-family: "Cairo", sans-serif;
  color: #2e1300;
  /* -webkit-appearance: none; */
  vertical-align: top;
  margin-bottom: 10px;
}

select:focus{
  outline: none;
}

/* select::-ms-expand {
    display: none;
} */