select {
  height: 35px;
  width: 300px;
  text-align: center;
  font-size: 1.2rem;
  font-weight: bold;
  font-family: "Cairo", sans-serif;
  color: #000000;
  /* -webkit-appearance: none; */
  vertical-align: top;
  margin-bottom: 10px;
  /* border: none; */
  border-radius: 5px;
  text-align: center;
}

select:focus{
  outline: none;
}