input[type=search]{
    -moz-appearance: none;/* older firefox */
    -webkit-appearance: none; /* safari, chrome, edge and ie mobile */
    appearance: none; /* rest */
    height: 30px;
    width: 300px;
    border-radius: 15px;
    color: #2a3d8c;
    text-align: center;
    font-size: 1.2rem;
    font-weight: bold;
    font-family: 'Cairo', sans-serif;
 }

 input[type=search]::placeholder {
    text-align: center;
    font-family: 'Cairo', sans-serif;
    font-size: 1.2rem;
 }

 input[type=search]:focus {
     outline: 0;
 }